.pad5 {
    padding: 5px;
}
.nomargsides {
    margin-left: 0px;
    margin-right: 0px;
}
.nopadsides {
    padding-left: 0px;
    padding-right: 0px;
}
.padcol {
    padding-right: 3px;
    padding-left: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.dadosbank {
    border-right: solid 1px;
    border-left: solid 1px;
    border-top: solid 1px;
}
.rb {
    border-right: solid 1px;
}
