<p>{{modaltxt}}</p>


<mat-dialog-actions align="center">
    <form [formGroup]="uniForm" autocomplete="off">
        <select class="form-control" formControlName="unidade" (change)="getPass()" matInput>
            <option value="ODC Nova Iguaçu I (Centro)" selected>ODC Nova Iguaçu I
                (Centro)
            </option>
            <option value="ODC Nova Iguaçu II (Centro)">ODC Nova Iguaçu II
                (Centro)
            </option>
            <option value="ODC Nova Iguaçu III (Centro)">ODC Nova Iguaçu III
                (Centro)
            </option>
            <option value="ODC Nova Iguaçu IV (Centro)">ODC Nova Iguaçu IV
                (Centro)
            </option>
            <option value="ODC Belford Roxo (Centro)">ODC Belford Roxo
                (Centro)
            </option>
            <option value="ODC São João de Meriti (Centro)">ODC São João de
                Meriti
                (Centro)</option>
            <option value="ODC Vilar dos Teles (Centro)">ODC Vilar dos Teles
                (Centro)</option>
            <option value="ODC Pavuna (Centro)">ODC Pavuna
                (Centro)</option>
            <option value="Partmed">Partmed</option>
        </select>
        <br />
        <button class="btn btn-primary" style="margin-right: 5%;" [mat-dialog-close]="data.pass"><a>Enviar</a></button>
        <button class="btn btn-danger" mat-dialog-close><a>Cancelar</a></button>
    </form>

    <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Sim</button>
   -->

</mat-dialog-actions>