<div class="loader" *ngIf="sloader == 1"></div>
<header>
</header>


<div class="no-print title">
    RELATÓRIOS
</div>
<mat-tab-group dynamicHeight dynamicWidth [(selectedIndex)]="tabindex">
    <ng-container>
        <mat-tab label="Vendas">
            <form [formGroup]="buscaForm" style="padding-left: 3%;">
                <div class="row no-print" style="padding-top: 2%; width: 50%;">
                    <div class="col-md-6">
                        De:
                        <input class="form-control" formControlName="dtinicio" type="date" min="1800-12-31"
                            max="2999-12-31" placeholder="DD/MM/AAAA">
                    </div>
                    <div class="col-md-6">
                        Até:
                        <input class="form-control" formControlName="dtfim" type="date" min="1800-12-31"
                            max="2999-12-31" placeholder="DD/MM/AAAA">
                    </div>
                </div>
                <div class="row no-print" style="padding-top: 1%; width: 50%;">
                    <div class="col-md-6">
                        Entre:
                        <input class="form-control" formControlName="valinicio" type="text" currencyMask
                            [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                    </div>
                    <div class="col-md-6">
                        e
                        <input class="form-control" formControlName="valfim" type="text" currencyMask
                            [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                    </div>
                </div>
                <div class="row no-print" style="padding-top: 1%; width: 100%;">
                    <div class="col-md-3">
                        CPF:
                        <input class="form-control" formControlName="cpf" type="text" mask="000.000.000-99"
                            placeholder="Apenas números">
                    </div>
                    <div class="col-md-3">
                        <a>Unidade:</a>
                        <select class="form-control" id="inputunidade" formControlName="unidade" required>
                            <option value="todas" selected>Todas</option>
                            <ng-container *ngFor="let u of unidlist;let ui = index">
                                <option value="{{u.val}}">{{u.nome}}</option>
                            </ng-container>
                        </select>
                    </div>
                    <div class="col-md-3">
                        Financiador:
                        <select class="form-control" formControlName="financiador" type="text">
                            <option value="todos">TODOS</option>
                            <option value="BANCO JF">BANCO JF</option>
                            <ng-container *ngFor="let f of financiadores; let i = index">
                                <option value="{{f.nome}}">{{f.nome}}</option>
                            </ng-container>
                        </select>
                    </div>
                </div>
                <button class="no-print btn btn-primary"
                    style="margin-top: 15px; margin-bottom: 20px; margin-right: 10px;"
                    (click)="getVendas()">Buscar</button>
            </form>
            <div id="printarea" *ngIf="vendalist.length > 0">
                <div class="pa">
                    <div style="margin-bottom: 12px;margin-top: 12px; width: 100%;">
                        <div class="row" style="margin-left: 12px;">
                            <b>RELATÓRIO DE VENDAS</b>
                        </div>
                        <div class="row" style="margin-left: 12px;">
                            <div class="col-md-4">
                                PERÍODO: {{dta | date:'dd/MM/yyyy'}} A {{dtb |
                                date:'dd/MM/yyyy'}}
                            </div>
                            <div class="col-md-1">
                                Vendas:
                            </div>
                            <div class="col-md-3">
                                {{countvendas}}
                            </div>
                        </div>
                        <div class="row" style="margin-left: 12px;">
                            <div class="col-md-4">
                                EMISSAO: {{thisday | date: 'dd/MM/yyyy'}} ÀS {{thisday | date: 'HH:mm'}}
                            </div>
                            <div class="col-md-1">
                                Total:
                            </div>
                            <div class="col-md-3">
                                {{valtotvendas | currency}}
                            </div>
                        </div>
                        <!-- <div class="row" style="margin-left: 12px;">
                    UNIDADE: {{unidade | uppercase}}
                </div> -->
                        <div class="row" style="margin-left: 12px; margin-top: 4px; margin-bottom: 4px;">
                            <!-- <button class="no-print btn btn-primary" style="margin-right: 2%;"
                        onclick="window.print()">Imprimir</button> -->
                            <!-- <button class="no-print btn btn-primary" style="margin-right: 2%;"
                        (click)="printpage()">Imprimir</button> -->
                            <button class="no-print btn btn-primary" style="margin-right: 2%;"
                                (click)="print()">Imprimir</button>
                            <!-- <button class="no-print btn btn-primary" style="margin-right: 2%;"
                        (click)="printNew()">Imprimir</button> -->
                            <!-- <button class="no-print btn btn-primary" style="margin-right: 2%;"
                        (click)="printNewb()">Imprimir!!</button> -->
                            <button class="no-print btn btn-success" (click)="download()">Exportar
                                CSV</button>

                        </div>
                    </div>
                    <!-- <ng-container *ngFor="let v of vendalist; let i = index">
            </ng-container> -->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="pad lfont" style="border-bottom: solid 1px;" scope="col">CLIENTE</th>
                                <th class="pad lfont" style="border-bottom: solid 1px;" scope="col">CPF</th>
                                <th class="pad lfont" style="border-bottom: solid 1px;" scope="col">POSSUI FIADOR?</th>
                                <th class="pad lfont" style="border-bottom: solid 1px;" scope="col">FIADOR</th>
                                <th class="pad lfont" style="border-bottom: solid 1px;" scope="col">CPF</th>
                                <th class="pad lfont" style="border-bottom: solid 1px;" scope="col">FINANCIADOR</th>
                                <th class="pad lfont" style="border-bottom: solid 1px;" scope="col">PARCELAS</th>
                                <th class="pad lfont" style="border-bottom: solid 1px;" scope="col">VAL TOTAL</th>
                                <th class="pad lfont" style="border-bottom: solid 1px;" scope="col">VAL ATUAL</th>
                                <th class="pad lfont" style="border-bottom: solid 1px;" scope="col">VAL ESTORNADO</th>
                                <th class="pad lfont" style="border-bottom: solid 1px;" scope="col">DATA</th>
                                <th class="pad lfont" style="border-bottom: solid 1px;" scope="col">DOC FIN</th>
                                <th class="pad lfont" style="border-bottom: solid 1px;" scope="col">DOC ODC</th>
                                <th class="pad lfont" style="border-bottom: solid 1px;" scope="col">USUARIO</th>
                                <th class="pad lfont" style="border-bottom: solid 1px;" scope="col">UNIDADE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let v of vendalist; let i = index">
                                <td class="pad" style="border: solid 1px;">{{v.cliente | uppercase}}</td>
                                <td class="pad" style="border: solid 1px;">{{v.cpfpaciente}}</td>
                                <td class="pad" style="border: solid 1px;" *ngIf="v.isnotfiador == '0'">NÃO</td>
                                <td class="pad" style="border: solid 1px;" *ngIf="v.isnotfiador == '1'">SIM</td>
                                <td class="pad" style="border: solid 1px;">{{v.fiador | uppercase}}</td>
                                <td class="pad" style="border: solid 1px;">{{v.cpffiador}}</td>
                                <td class="pad" style="border: solid 1px;">{{v.financiador | uppercase}}</td>
                                <td class="pad" style="border: solid 1px;">{{v.parcela}}</td>
                                <td class="pad" style="border: solid 1px;">{{v.valortotal | currency}}</td>
                                <td class="pad" style="border: solid 1px;">{{v.valoratual | currency}}</td>
                                <td class="pad" style="border: solid 1px;">{{v.valorestorno | currency}}</td>
                                <!-- <td class="pad" style="border: solid 1px;">{{v.fiador | uppercase}}</td> -->
                                <td class="pad" style="border: solid 1px;">{{v.createdat | date:'dd/MM/yyyy'}}</td>
                                <td class="pad" style="border: solid 1px;">{{v.docfinanceiro}}</td>
                                <td class="pad" style="border: solid 1px;">{{v.docodc}}</td>
                                <td class="pad" style="border: solid 1px;">{{v.createdby}}</td>
                                <td class="pad" style="border: solid 1px;">{{v.unidade}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </mat-tab>
    </ng-container>
    <ng-container *ngIf="role == 'admin'">
        <mat-tab label="Ordens de serviços de laboratórios externos">
            <form [formGroup]="buscaProteseExtForm" style="padding-left: 3%;">
                <div class="row no-print" style="padding-top: 2%; width: 50%;">
                    <div class="col-md-6">
                        De:
                        <input class="form-control" formControlName="dtinicio" type="date" min="1800-12-31"
                            max="2999-12-31" placeholder="DD/MM/AAAA">
                    </div>
                    <div class="col-md-6">
                        Até:
                        <input class="form-control" formControlName="dtfim" type="date" min="1800-12-31"
                            max="2999-12-31" placeholder="DD/MM/AAAA">
                    </div>
                </div>
                <div class="row no-print" style="padding-top: 2%; width: 50%;">
                    <div class="col-md-6">
                        <a>Tipo de data:</a>
                        <select class="form-control" formControlName="tipodata" required>
                            <option value="data_entrega" selected>Data de entrega</option>
                            <option value="data_recebimento">Data de recebimento</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <a>Unidade:</a>
                        <select class="form-control" id="inputunidade" formControlName="unidade" required>
                            <option value="todas" selected>Todas</option>
                            <option value="ODC Nova Iguaçu I (Centro)">ODC Nova Iguaçu I
                                (Centro)
                            </option>
                            <option value="ODC Nova Iguaçu II (Centro)">ODC Nova Iguaçu II
                                (Centro)
                            </option>
                            <option value="ODC Nova Iguaçu III (Centro)">ODC Nova Iguaçu III
                                (Centro)
                            </option>
                            <option value="ODC Nova Iguaçu IV (Centro)">ODC Nova Iguaçu IV
                                (Centro)
                            </option>
                            <option value="ODC Belford Roxo (Centro)">ODC Belford Roxo
                                (Centro)
                            </option>
                            <option value="ODC São João de Meriti (Centro)">ODC São João de
                                Meriti
                                (Centro)</option>
                            <option value="ODC Vilar dos Teles (Centro)">ODC Vilar dos Teles
                                (Centro)</option>
                            <option value="ODC Pavuna (Centro)">ODC Pavuna
                                (Centro)</option>
                            <option value="Partmed">Partmed</option>
                        </select>
                    </div>
                </div>
                <div class="row no-print" style="padding-top: 1%; width: 100%;">
                    <div class="col-md-3">
                        Laboratório:
                        <select class="form-control" (change)="inputLab()" formControlName="laboratorio" type="text">
                            <option value="todos">TODOS</option>
                            <ng-container *ngFor="let f of laboratorios; let i = index">
                                <option value="{{f.nome}}">{{f.nome}}</option>
                            </ng-container>
                            <option value="outro">OUTRO</option>
                        </select>
                    </div>
                    <ng-container *ngIf="showlabinput == 1 ">
                        <div class="col-md-3">
                            Digite o nome do laboratório
                            <input class="form-control" formControlName="labinput" type="text">
                        </div>
                    </ng-container>
                </div>

                <button class="no-print btn btn-primary"
                    style="margin-top: 15px; margin-bottom: 20px; margin-right: 10px;" (click)="getOs()">Buscar</button>
                <!-- <button class="no-print btn btn-primary" style="margin-top: 15px; margin-bottom: 20px; margin-right: 10px;"
                        (click)="download()">Download?</button> -->
            </form>
            <div id="printarea" *ngIf="prodoslist.length > 0">
                <div class="pa">
                    <div style="margin-bottom: 12px;margin-top: 12px; width: 100%;">
                        <div class="row" style="margin-left: 12px;">
                            <b>RELATÓRIO DE PRODUTOS DE ORDENS DE SERVIÇOS</b>
                        </div>
                        <div class="row" style="margin-left: 12px;">
                            <div class="col-md-4">
                                PERÍODO: {{dta | date:'dd/MM/yyyy'}} A {{dtb |
                                date:'dd/MM/yyyy'}}
                            </div>
                            <div class="col-md-1">
                                QTD:
                            </div>
                            <div class="col-md-3">
                                {{countprotex}}
                            </div>
                        </div>
                        <div class="row" style="margin-left: 12px;">
                            <div class="col-md-4">
                                EMISSAO: {{thisday | date: 'dd/MM/yyyy'}} ÀS {{thisday | date: 'HH:mm'}}
                            </div>
                            <div class="col-md-1">
                                Total:
                            </div>
                            <div class="col-md-3">
                                {{totalprotex | currency}}
                            </div>
                        </div>
                        <div class="row" style="margin-left: 12px; margin-top: 4px; margin-bottom: 4px;">
                            <button class="no-print btn btn-primary" style="margin-right: 2%;"
                                (click)="printProtex()">Imprimir</button>
                            <button class="no-print btn btn-success" (click)="downloadProtEx()">Exportar
                                CSV</button>

                        </div>
                    </div>
                    <!-- <ng-container *ngFor="let v of vendalist; let i = index">
                    </ng-container> -->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="pad lfont" style="border-bottom: solid 1px;" scope="col">Nº OS</th>
                                <th class="pad lfont" style="border-bottom: solid 1px;" scope="col">DOC ODC</th>
                                <th class="pad lfont" style="border-bottom: solid 1px;" scope="col">LAB</th>
                                <th class="pad lfont" style="border-bottom: solid 1px;" scope="col">PACIENTE</th>
                                <th class="pad lfont" style="border-bottom: solid 1px;" scope="col">CPF</th>
                                <th class="pad lfont" style="border-bottom: solid 1px;" scope="col">PRODUTO</th>
                                <th class="pad lfont" style="border-bottom: solid 1px;" scope="col">VALOR</th>
                                <th class="pad lfont" style="border-bottom: solid 1px;" scope="col">QTD</th>
                                <th class="pad lfont" style="border-bottom: solid 1px;" scope="col">TOTAL</th>
                                <th class="pad lfont" style="border-bottom: solid 1px;" scope="col">DATA ENTREGA</th>
                                <th class="pad lfont" style="border-bottom: solid 1px;" scope="col">DATA RECEB</th>
                                <th class="pad lfont" style="border-bottom: solid 1px;" scope="col">UNIDADE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let v of prodoslist; let i = index">
                                <td class="pad" style="border: solid 1px;">{{v.idos}}</td>
                                <td class="pad" style="border: solid 1px;">{{v.documento}}</td>
                                <td class="pad" style="border: solid 1px;">{{v.laboratorio}}</td>
                                <td class="pad" style="border: solid 1px;">{{v.paciente | uppercase}}</td>
                                <td class="pad" style="border: solid 1px;">{{v.cpf}}</td>
                                <td class="pad" style="border: solid 1px;">{{v.produto | uppercase}}</td>
                                <td class="pad" style="border: solid 1px;">{{v.valor | currency}}</td>
                                <td class="pad" style="border: solid 1px;">{{v.qtd}}</td>
                                <td class="pad" style="border: solid 1px;">{{v.total | currency}}</td>
                                <td class="pad" style="border: solid 1px;">{{v.data_entrega | date:'dd/MM/yyyy'}}</td>
                                <td class="pad" style="border: solid 1px;">{{v.data_recebimento | date:'dd/MM/yyyy'}}
                                </td>
                                <td class="pad" style="border: solid 1px;">{{v.unidade | uppercase}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </mat-tab>
    </ng-container>
    <!-- <button style="float: right;" class="no-print btn btn-primary"
onclick="window.print()">Imprimir</button> -->
</mat-tab-group>