<p style="text-align: center; font-size: large; font-weight: bold;">DADOS ALTERADOS</p>
<div class="row descrow" style="margin-bottom: 4%;">
    <div class="col-md-6" style="background-color: rgb(255, 157, 157);border-right: solid;">
        <div class="row desc" style="border-bottom: solid 2px;">
            <a style="text-align: center; font-weight: bold;">ORIGINAL</a>
        </div>
        <div class="row desc">
            Juros de 2 a 4 parcelas: {{data.oldentry.juros2a4}}%
        </div>
        <div class="row desc">
            Juros de 5 a 8 parcelas: {{data.oldentry.juros5a8}}%
        </div>
        <div class="row desc">
            Juros de 9 a 12 parcelas: {{data.oldentry.juros9a12}}%
        </div>
        <div class="row desc">
            Juros de 13 a 16 parcelas: {{data.oldentry.juros13a16}}%
        </div>
        <div class="row desc">
            Juros de 17 a 20 parcelas: {{data.oldentry.juros17a20}}%
        </div>
        <div class="row desc">
            Juros de 21 a 24 parcelas: {{data.oldentry.juros21a24}}%
        </div>
        <div class="row desc">
            Juros no boleto: {{data.oldentry.jurosboleto}}%
        </div>
        <div class="row desc">
            Juros no cheque: {{data.oldentry.juroscheque}}%
        </div>
        <div class="row desc">
            Taxas adicionais: {{data.oldentry.taxaadicional | currency}}
        </div>
    </div>
    <div class="col-md-6" style="background-color: rgb(157, 255, 178);">
        <div class="row desc" style="border-bottom: solid 2px;">
            <a style="text-align: center; font-weight: bold;">APÓS ALTERAÇÃO</a>
        </div>
        <div class="row desc">
            Juros de 2 a 4 parcelas: {{data.newentry.juros2a4}}%
        </div>
        <div class="row desc">
            Juros de 5 a 8 parcelas: {{data.newentry.juros5a8}}%
        </div>
        <div class="row desc">
            Juros de 9 a 12 parcelas: {{data.newentry.juros9a12}}%
        </div>
        <div class="row desc">
            Juros de 13 a 16 parcelas: {{data.newentry.juros13a16}}%
        </div>
        <div class="row desc">
            Juros de 17 a 20 parcelas: {{data.newentry.juros17a20}}%
        </div>
        <div class="row desc">
            Juros de 21 a 24 parcelas: {{data.newentry.juros21a24}}%
        </div>
        <div class="row desc">
            Juros no boleto: {{data.newentry.jurosboleto}}%
        </div>
        <div class="row desc">
            Juros no cheque: {{data.newentry.juroscheque}}%
        </div>
        <div class="row desc">
            Taxas adicionais: {{data.newentry.taxaadicional | currency}}
        </div>
    </div>
</div>
<form [formGroup]="pwdForm" autocomplete="off" style="margin-bottom: 2%;">
    <a style="text-align: center; font-weight: bold;">INSIRA SUA SENHA PARA CONFIRMAR A ALTERAÇÃO</a>
    <div class="row justify-content-center" style="margin-bottom: 2%; margin-top: 1%;">
        <input type="password" class="form-control" formControlName="pwd" style="width: 30%;">
    </div>
    <div class="row justify-content-center">
        <button class="btn btn-success" style="margin-right: 7px;" (click)="sendData()"><a>Confirmar</a></button>
        <button class="btn btn-danger" mat-dialog-close><a>Cancelar</a></button>
    </div>
</form>