.buttonIn {
    width: 300px;
    position: relative;
}
.padform {
    padding-top: 15px;
}
// form {
//     padding-top: 20px;
//     padding-right: 20px;
//     padding-bottom: 60px;
//     padding-left: 20px;
// }

// #formestornoespecial {
//     padding-bottom: 100px;
// }

#clear {
    margin: 0px;
    padding: 0px;
    width: 100%;
    outline: none;
    height: 30px;
    border-radius: 5px;
    z-index: 100;
}
.lastrow {
    border-bottom: solid 1px;
    padding-bottom: 10px;
}

.upper {
    text-transform: uppercase;
}

.dhfeb {
    height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
}
#enter {
    position: absolute;
    top: 0;
    border-radius: 5px;
    right: 0px;
    z-index: 2;
    border: none;
    top: 2px;
    height: 30px;
    cursor: pointer;
    // color: white;
    // background-color: #1e90ff;
    transform: translateX(2px);
}

.searcharea {
    position: relative;
}
.searchresult {
    position: absolute;
    top: 60px;
    width: 100%;
    background-color: #fff;
    z-index: 100;
}
.center {
    margin: auto;
    width: 100%;
    border: 1px groove #96d2ee;
    padding: 10px;
    border-radius: 5px;
}
.center:hover {
    background-color: rgba(10, 45, 245, 0.158);
    cursor: pointer;
    border: 2px solid rgb(10, 45, 245);
}
.centerlist {
    margin-top: 2px;
    width: 100%;
    //height: 22px;
    padding: 10px;
    padding-top: 1px;
}
.menu {
    min-height: 60px;
    color: #fff;
    font-size: 25px;
    text-align: left;
    display: flex;
    padding: 0 40px;
    width: 100%;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;

    border-bottom: 1px white solid;
}
// a {
//   color: black;
//   text-decoration: none;
// }
@media print {
    #printcomprovante {
        font-size: 55px;
        // height: auto;
        line-height: 1.1;
    }
}
.title {
    height: 60px;
    width: 100%;
    background-color: rgba(216, 215, 215, 0.801);
    border-bottom: solid black 2px;
    border-top: solid black 2px;
    border-right: solid black 2px;
    vertical-align: middle;
    align-content: center;
    text-align: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    // margin-left: -15px;
    padding-top: 15px;
}

.img-fluid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.menuuser {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-bottom: 3%;
    color: black;
    font-size: 15px;
    border-bottom: solid black 2px;
    font-size: 12px;
}

.menurow {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-bottom: 3%;
    color: black;
    font-size: 15px;
    border-bottom: solid black 2px;
    font-size: 12px;
    cursor: pointer;
}
.userlbltxt {
    margin-bottom: 0;
}
.menurow:hover {
    background-color: rgba(85, 85, 85, 0.438);
}
.sidemenu {
    background-color: rgba(216, 215, 215, 0.801);
    border-right: black solid 4px;
    position: relative;
    height: 100%;
    border-bottom: black solid 4px;
}

.logoff {
    border-top: solid black 2px;
    border-bottom: solid black 2px;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 40%;
    bottom: 3%;
    padding-left: 10%;
    cursor: pointer;
}
.logoff:hover {
    background-color: rgba(216, 72, 72, 0.562);
}
.btn-logoff {
    background: none;
    border: none;
}

.box {
    float: left;
    width: 20px;
    height: 20px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.lightblue {
    background: #9bf5ff;
}
.green {
    background: #7dff88;
}

.orange {
    background: #ffdd81;
}

.red {
    background: #ff8181;
}
.menudep {
    min-height: 60px;
    color: #fff;
    font-size: 25px;
    text-align: center;

    padding: 0 40px;
    width: 100%;
    align-content: center;
    border-bottom: 1px white solid;
}
a {
    color: white;
    text-decoration: none;
}
.menucli {
    min-height: 60px;
    color: #fff;
    font-size: 25px;
    text-align: center;

    padding: 0 40px;
    width: 100%;
    align-content: center;

    border-bottom: 1px white solid;
}
.form-group {
    align-content: space-between;
    //width: 100%;
    //min-width: 100%;
}
.container {
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
}

form {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
}

.float-right {
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
}

.float-left {
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
}

.estiloCustom {
    color: #f00;
}

::ng-deep .mat-tab-label {
    color: #000;
}
.box {
    float: left;
    width: 20px;
    height: 20px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.green {
    background: rgb(183, 233, 198);
}

.red {
    background: rgb(212, 167, 167);
}

.btnUserG {
    height: 60px;
    width: 100%;
}
.tdBtn {
    padding: 7px 5px;
}
.tdBtna {
    padding: 6.5px 5px;
}
fieldset {
    border: solid;
    width: 100%;
    min-width: none;
}
legend {
    display: block;
    width: auto;
    // max-width: 0;
    padding: 0;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
    margin-left: 2%;
    padding: 15px;
    + * {
        clear: both;
    }
}
.parcrow {
    //display: inline-block;
    align-items: center;
    margin-bottom: 7px;
}
.parccol {
    //margin-left: 15px;
    text-align: center;
}
::ng-deep {
    .simplemodal {
        // width: 100%;
        // height: 100%;

        .mat-dialog-container {
            border: solid;
            border-radius: 15px;
            background-color: rgb(255, 255, 255);
            color: #000;
        }
    }
    .modalprintreq {
        .mat-dialog-container {
            @media print {
                visibility: visible !important;
                /**Remove scrollbar for printing.**/
                overflow: visible !important;

                // border: solid;
                //border-radius: 15px;
                background-color: rgb(255, 255, 255);
                // width: 100%;
                // height: 100%;

                color: #000;
                border: none;
                position: absolute;
                left: 0px;
                top: 0px;
                // position: relative;
                width: 100%;
                height: 100%;
                margin-left: 0px;
                margin-top: 0px;
                line-height: 1.5;
                // size: 7in 9.25in;
                font-size: 20px;
                // margin: 27mm 16mm 27mm 16mm;
                #site {
                    font-size: 27px;
                }
                .title {
                    font-size: 40px;
                    font-weight: bold;
                    text-decoration: underline;
                    line-height: 4;
                }
            }
            text-align: justify;
            border: solid;
            //border-radius: 15px;
            background-color: rgb(255, 255, 255);
            width: 94%;
            height: 77%;
            color: #000;
            position: fixed;
            left: 22%;
            top: 33%;
            margin-left: -20%;
            margin-top: -15%;
        }
    }
    .mat-tab-label {
        color: #000;
    }

    .edittaxamodal {
        width: 100%;
        height: 100%;

        .mat-dialog-container {
            text-align: center;
            border: solid;
            border-radius: 15px;
            background-color: rgb(255, 255, 255);
            width: 80%;
            height: 70%;
            color: #000;
            position: fixed;
            left: 50%;
            top: 50%;
            margin-left: -40%;
            margin-top: -20%;
        }
    }
    .newprodutomodal {
        width: 100%;
        height: 100%;

        .mat-dialog-container {
            // text-align: center;
            border: solid;
            border-radius: 15px;
            background-color: rgb(255, 255, 255);
            width: 80%;
            height: 70%;
            color: #000;
            position: fixed;
            left: 50%;
            top: 50%;
            margin-left: -40%;
            margin-top: -20%;
        }
    }
    .modalestorno {
        width: 100%;
        height: 80%;

        .mat-dialog-container {
            border: solid;
            border-radius: 15px;
            background-color: rgb(255, 255, 255);
            width: 97%;
            height: 80%;
            color: #000;
            position: fixed;
            left: 41%;
            top: 46%;
            margin-left: -40%;
            margin-top: -20%;
        }
    }
}
.perc {
    width: 85px;
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-image: url(/assets/images/loader.gif);
    background-repeat: no-repeat;
    background-size: 50%;
    background-attachment: fixed;
    background-position: center;
    background-color: white;
    // background: url(http://sistema.grupojf.com.br/assets/images/loader.gif)
    //             50% 50% no-repeat rgb(249,249,249);
    opacity: 0.5;
}
.pad {
    padding: 0.25rem;
}
.lfont {
    font-size: 8px;
}
// .loader{
//     position: absolute;
//     left: 0px;
//     top: 0px;
//     width: 100%;
//     height: 100%;
//     z-index: 9999;
//     background: url(http://sistema.grupojf.com.br/assets/images/loader.gif)
//                 50% 50% no-repeat rgb(249,249,249);
//     opacity: 0.5;
//   }
