<div class="menudep navbar-expand-lg py-md-3" height=60px style="background-color: #0B2161;">
    <!-- Navbar content -->
    CADASTRO DE DEPENDENTES
    <div class="float-right">
        <a href="/cadastro">Voltar</a>
    </div>

</div>

<br />


<form>
    <div>
        <br />
        <a>Nome:</a>
        <input class="form-control" autocomplete="novo-nome" id="input1" placeholder="Nome completo" type="text"
            name="nome" size="50" tabindex="3" required autofocus maxlength="250" />
    </div>


    <div class="row">
        <div class="col">
            <a text-black>CPF:</a>
            <input class="form-control" mask="000.000.000-99" autocomplete="novo-cpf" id="inputcpf"
                placeholder="somente números" type="text" name="cpf" tabindex="4" onkeypress="return isNumberKey(event)"
                required onblur="ValidaCPF()" onclick="desvalidarCPF()" />
        </div>
        <div class="col">
            <a text-black>RG: </a>
            <input class="form-control" mask="00.000.000-9" autocomplete="novo-rg" id="input2"
                placeholder="somente números" type="text" name="rg" tabindex="5" onkeypress="return isNumberKey(event)"
                required required maxlength="16" />
        </div>
        <div class="col">
            <a text-black>Orgão Expedidor: </a>
            <input class="form-control" autocomplete="novo-rg" id="input2" type="text" name="rg" tabindex="5"
                onkeypress="return isNumberKey(event)" required required />

        </div>
        <div class="col">
            <a text-black> Data de Nascimento:</a>
            <input class="form-control col-md-11 " autocomplete="novo-nasc" id="data_nasc" type="date" min="1800-12-31"
                max="2999-12-31" name="data_nascimento" tabindex="6" required />
        </div>
        <div class="col">

            <a text-black>Gênero:</a>
            <select class="form-control" name="sexo" id="input10" tabindex="7">
                <option value="Masculino">Masculino</option>
                <option value="Feminino">Feminino</option>
                required
            </select>
        </div>
    </div>



    <br /><br />
    <div class="row"></div>
    <div class="float-right">
        <img src="/assets/images/Gravar.PNG" (click)="onSubmit()">
        <img src="/assets/images/Editar.PNG">
        <img src="/assets/images/Excluir.PNG">
        <div class="float-left">

        </div>
    </div>

</form>