<div class="menucli navbar-expand-lg py-md-3" height=60px style="background-color: #0B2161;">
    <!-- Navbar content -->
    CADASTRO DE VENDEDORES
    <div class="float-right">
        <a href="#/home">Voltar</a>
    </div>
</div>

<!-- <button (click)="trocarValor(1)"> Setar 1 </button> -->
<!-- <button (click)="trocarValor(2)"> Setar 2 </button>
{{teste}} -->




<!-- <button (click)="showvend()"> Teste nome </button>
        {{vendNome}}  -->

<form [formGroup]="vendedorForm" name="formven" autocomplete="off">
    <div class="row">
        <div class="col-md-4">
            <img [ngClass]="{'disabledbutton':enableveninc==1}" src="/assets/images/incluir.PNG"
                (click)="incVendedor()">
            
        </div>
        <div class="col-md-2" >
            <img src="/assets/images/Pesquisar.PNG" (click)="enableBusca()" style="float: right;">
        </div>
        <div class="searcharea col-md-6" style="margin:auto;">
            <input class="form-control" type="text" formControlName="buscavendedor" placeholder="Nome ou CPF" (keyup)="buscaVendedorNome()"
                style="margin-bottom: 4px; width: 100%;">
            <div class="searchresult">
                <ng-container *ngIf="objbusca.length > 0 && vendedorForm.value.buscavendedor !='' ">

                    <div *ngFor="let b of objbusca; let i = index" class="center" (click)="fillFormVendedor(b,i)"
                        style=" border-style: groove; border-width: 1px; margin-bottom: 2px;">
                        {{b.nome | uppercase}} - CPF: {{b.cpf}}
                    </div>

                </ng-container>
            </div>
        </div>
    </div>
    <br />
    <!-- <input class="form-control" type="text" formControlName="buscacliente"> -->


    <div>
        <br />
        <a>Nome:</a>
        <input formControlName="vendedornome" class="form-control"  placeholder="Nome completo"
            type="text" name="nome" size="50" tabindex="4"  autofocus maxlength="250" />

    </div>

    <div class="row">
        <div class="col">
            <a text-black>CPF:</a>
            <input formControlName="vendedorcpf" #vendedorcpf (focusout)="cpfVenValid()" class="form-control" mask="000.000.000-99" 
                id="inputcpf" placeholder="somente números" type="text" name="cpf" tabindex="5"
                  />
        </div>

        <div class="col">
            <a text-black>RG: </a>
            <input formControlName="vendedorrg" class="form-control" mask="00.000.000-9" 
                id="input2" placeholder="somente números" type="text" name="rg" tabindex="6"
                  maxlength="16" />
        </div>

        <!-- <div class="col">
            <a text-black>Orgão Expedidor: </a>
            <input formControlName="vendedororgao" class="form-control" autocomplete="novo-rg" id="input2" type="text"
                name="rg" tabindex="7"    />
        </div> -->

        <div class="col">
            <a text-black> Data de Nascimento:</a>
            <input formControlName="vendedornasc" class="form-control col-md-11 " 
                id="data_nasc" type="date" min="1800-12-31" max="2999-12-31" name="data_nascimento" tabindex="8" ngModel
                 />
        </div>
        <div class="col">
            <a text-black> Data de Admissão:</a>
            <input formControlName="vendedoradmissao" class="form-control col-md-11 " 
                id="data_nasc" type="date" min="1800-12-31" max="2999-12-31" name="data_nascimento" tabindex="8" ngModel
                 />
        </div>
        <!-- <div class="col">

            <a text-black>Gênero:</a>
            <select formControlName="vendedorgen" class="form-control" name="sexo" id="input10" tabindex="9">
                <option value="Masculino">Masculino</option>
                <option value="Feminino">Feminino</option>

            </select>
        </div> -->

    </div>


    <div class="row">
        <!-- <button (click)="testeVariavel()">Teste</button> -->
    </div>
    <div class="float-right">
        <img src="/assets/images/Gravar.PNG" (click)="saveVend()" [ngClass]="{'disabledbutton':enablevenba==1}">
        <!-- <img src="/assets/images/Gravar.PNG" (click)="savevend()"> -->
        <img src="/assets/images/Editar.PNG" (click)="editVend()" [ngClass]="{'disabledbutton':enablevenbb==1}">
        <!-- <img src="/assets/images/Excluir.PNG" (click)="deleteVend()" [ngClass]="{'disabledbutton':enablevenbc==1}"> -->
    </div>
</form>