.vendcol {
    padding: 0px;
    padding-left: 1px;
}
.vendrow {
    // outline: auto;
    border-right: solid 1px;
    border-left: solid 1px;
    border-bottom: solid 1px;
}
.lbor {
    border-left: 1px solid;
}
