<div class="no-print menucli navbar-expand-lg py-md-3" height=60px style="background-color: #0B2161;">
    <!-- Navbar content -->
    CADASTRO DE CLIENTES
    <div class="float-right">
        <a href="#/home">Voltar</a>
    </div>
</div>

<!-- <button (click)="trocarValor(1)"> Setar 1 </button> -->
<!-- <button (click)="trocarValor(2)"> Setar 2 </button>
{{teste}} -->

<!-- <button (click)="showTit()"> Teste nome </button>
        {{titNome}}  -->
<mat-tab-group [(selectedIndex)]="tabindex">
    <mat-tab label="Titular">

        <form [formGroup]="profileForm" name="formtit" autocomplete="off">
            <div class="row">
                <div class="col-md-4">
                    <img [ngClass]="{'disabledbutton':enabletitinc==1}" src="/assets/images/incluir.PNG"
                        (click)="incTitular()">
                    <!-- <button [ngClass]="{'disabledbutton':enabletitinc==1}"> <img src="/assets/images/incluir.PNG" (click)="incTitular()"></button> -->
                </div>
                <div class="col-md-2">
                    <img src="/assets/images/Pesquisar.PNG" style="float:right;" (click)="enableBusca()">
                </div>
                <div class="searcharea col-md-6" style="margin:auto;">
                    <input class="form-control" type="text" formControlName="buscacliente" placeholder="Nome ou CPF"
                        (keyup)="buscaClienteNome()" style="margin-bottom: 4px;">
                    <div class="searchresult">
                        <ng-container *ngIf="objbusca.length > 0 && profileForm.value.buscacliente !='' ">
                            <div *ngFor="let b of objbusca; let i = index" (click)="fillFormCliente(b,i)" class="center">
                                {{b.nome | uppercase}} - CPF: {{b.cpf}}
                            </div>

                        </ng-container>
                    </div>
                </div>
                <br />

            </div>
            <div>
                <br />
                <a>Nome:</a>
                <input formControlName="titularnome" class="form-control"  autocomplete="novo-nome"
                    placeholder="Nome completo" type="text" name="nome" size="50" tabindex="4"                     autofocus maxlength="250" />

            </div>

            <div class="row">
                <div class="col">
                    <a text-black>CPF:</a>
                    <input formControlName="titularcpf" class="form-control" mask="000.000.000-99" #titularcpf
                        autocomplete="novo-cpf" id="inputcpf" placeholder="somente números" type="text" name="cpf"
                        tabindex="5" (focusout)="cpfValid()" />
                </div>

                <div class="col">
                    <a text-black>RG: </a>
                    <input formControlName="titularrg" class="form-control" mask="00.000.000-9" autocomplete="novo-rg"
                        id="input2" placeholder="somente números" type="text" name="rg" tabindex="6"
                         maxlength="16" />
                </div>

                <div class="col">
                    <a text-black>Orgão Expedidor: </a>
                    <input formControlName="titularorgao" class="form-control" autocomplete="novo-rg" id="input2"
                        type="text" name="rg" tabindex="7"                          required />
                </div>

                <div class="col">
                    <a text-black> Data de Nascimento:</a>
                    <input formControlName="titularnasc" class="form-control col-md-11 " autocomplete="novo-nasc" placeholder="DD/MM/AAAA"
                        id="data_nasc" type="date" min="1800-12-31" max="2999-12-31" name="data_nascimento" tabindex="8"
                        />
                </div>

                <div class="col">

                    <a text-black>Gênero:</a>
                    <select formControlName="titulargen" class="form-control" name="sexo" id="input10" tabindex="9">
                        <option value="masculino">Masculino</option>
                        <option value="feminino">Feminino</option>

                    </select>
                </div>

            </div>
            <div>
                <div class="row">
                    <div class="col-md-6">
                        <a text-black> E-mail: </a>
                        <input formControlName="titularemail" class="form-control" autocomplete="novo-mail" id="input5"
                            type="text" name="email" tabindex="10" maxlength="64" />
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">

                                <a text-black> Celular:</a>
                                <input formControlName="titularcel" class="form-control col-md-11" mask="(00)00000-0000"
                                    autocomplete="novo-cel" id="inputcel" placeholder="(99)99999-9999" type="text"
                                    name="celular" size="20" tabindex="11" />
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <input class="form-check-input" formControlName="titularwhatsapp" tabindex="12"
                                    type="checkbox" value="" id="checkwhats">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Whatsapp
                                </label>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <a text-black>Telefone:</a>
                                        <input formControlName="titulartel" class="form-control col-md-7"
                                            mask="(00)0000-0000" autocomplete="novo-tel" id="inputtel"
                                            placeholder="(99)9999-9999" type="text" name="telefone" size="20"
                                            tabindex="13" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>



            <div class="row" style="justify-content: space-between;">
                <div class="col-md-2">
                    <a text-black> CEP: </a>
                    <input formControlName="titularcep" class="form-control" mask="00000-000" autocomplete="novo-mail"
                        id="inputcep" placeholder="somente números" type="text" (focusout)="buscaCep()" name="email"
                        tabindex="14" />
                </div>
                <div class="col">

                    <a text-black>Endereço: </a>
                    <input formControlName="titularendereco" class="form-control" autocomplete="novo-" id="rua"
                        placeholder="logradouro" type="text" name="logradouro" size="20" tabindex="15"  />

                </div>
                <div class="col-md-1">
                    <a text-black> Número:</a>
                    <input formControlName="titularnum" class="form-control" autocomplete="novo-" id="numeendereco"
                        type="text" name="numer o" tabindex="16" maxlength="8" />
                </div>
                <div class="col">
                    <a text-black>Complemento:</a>
                    <input formControlName="titularcomp" class="form-control" autocomplete="novo-" id="complemento"
                        type="text" name="complemento" size="20" tabindex="17" maxlength="64" />
                </div>
                <div class="col">
                    <a text-black> Bairro:</a>
                    <input formControlName="titularbairro" class="form-control" autocomplete="novo-" id="bairro"
                        type="text" name="bairro" size="27" tabindex="18" maxlength="64" />
                </div>
            </div>







            <div class="row">


                <div class="col-md-4">
                    <a text-black>Cidade:</a>
                    <input formControlName="titularcidade" class="form-control" autocomplete="novo-" id="cidade"
                        type="text" name="cidade" size="27" tabindex="19" maxlength="64" />
                </div>
                <div class="col-md-1">
                    <a text-black>UF:</a>
                    <input formControlName="titularestado" class="form-control" autocomplete="novo-" id="estado"
                        type="text" name="estado" size="27" tabindex="20" maxlength="2" />
                </div>

            </div>

            <div class="row">
                <!-- <button (click)="testeVariavel()">Teste</button> -->
            </div>
            <div class="float-right">
                <img src="/assets/images/Gravar.PNG" [ngClass]="{'disabledbutton':enabletitba==1}" (click)="saveTit()">
                <!-- <img src="/assets/images/Gravar.PNG" (click)="saveTit()"> -->
                <img src="/assets/images/Editar.PNG" [ngClass]="{'disabledbutton':enabletitbb==1}" (click)="editTit()">
                <!-- <img src="/assets/images/Excluir.PNG" [ngClass]="{'disabledbutton':enabletitbc==1}"
                    (click)="deleteTit()"> -->
            </div>
        </form>
        <!-- <div class="float-left">
    <a href="/cadastrodep"> <img src="/assets/images/incluir2.PNG"> </a>
</div> -->
    </mat-tab>

    <mat-tab label="Dependentes">
        <form [formGroup]="depForm" name="formdep" autocomplete="off">
            <p style="font-size: large; font-weight: bold;">TITULAR: {{ objcliente.nome | uppercase }} </p>
            <div>
                <img src="/assets/images/incluir2.PNG" [ngClass]="{'disabledbutton':depaddenable==1}" (click)="addDep()">
                
                <img id="depgravar" style="float: right;" src="/assets/images/Gravar.PNG" [ngClass]="{'disabledbutton':depsaveenable==1}" (click)="saveDep()">
                <img src="/assets/images/Editar.PNG" style="float: right;" [ngClass]="{'disabledbutton':depeditenable==1}" (click)="editDep()">
            </div>
            <br />

            <div class="row">
                <div class="col">

                    <a>Nome:</a>
                    <input class="form-control" id="depnomeid" placeholder="Nome completo"
                        type="text" formControlName="depnome" size="50" tabindex="3" autofocus
                        maxlength="250" />

                </div>
            </div>


            <div class="row">
                <div class="col">
                    <a text-black>CPF:</a>
                    <input class="form-control" #dependentecpf  (focusout)="cpfDepValid()" mask="000.000.000-99" id="inputcpf"
                        placeholder="somente números" type="text" formControlName="depcpf" tabindex="4"
                         />
                </div>
                <div class="col">
                    <a text-black>RG: </a>
                    <input class="form-control" mask="00.000.000-9" id="input2"
                        placeholder="somente números" type="text" formControlName="deprg" tabindex="5"
                         maxlength="16" />
                </div>
                <div class="col">
                    <a text-black>Orgão Expedidor: </a>
                    <input class="form-control" id="input2" type="text" formControlName="deporgao"
                        tabindex="5" />

                </div>
                <div class="col">
                    <a text-black> Data de Nascimento:</a>
                    <input class="form-control col-md-11 " id="data_nasc" type="date"
                        min="1800-12-31" max="2999-12-31" formControlName="depnasc" tabindex="6" />
                </div>
                <div class="col">

                    <a text-black>Gênero:</a>
                    <select class="form-control" formControlName="depgen" id="input10" tabindex="7">
                        <option value="Masculino">Masculino</option>
                        <option value="Feminino">Feminino</option>

                    </select>
                </div>
            </div>
            <br /><br />
            <!-- <ng-container *ngIf="showdeplist==1"> -->
            <ul class="list-group" id="listdep" *ngFor="let d of dependentes; let i = index; ">
                <li class="list-group-item active"> <label style="font-size: large;"> Dependente: {{d.nome}} </label> <button class="btn btn-danger" (click)="deleteDep(d,i)" style="float: right;">Excluir</button> <button class="btn btn-light" style="float: right; margin-right: 15px;" (click)="fillEditDep(d,i)">Editar</button></li>
                <li class="list-group-item"> CPF: {{d.cpf}} </li>
                <li class="list-group-item"> RG: {{d.rg}} </li>
                <li class="list-group-item"> Orgão expedidor: {{d.orgao}}</li>
                <li class="list-group-item">Data de Nascimento: {{d.dtnasc | date: 'dd/MM/yyyy'}}</li>
                <li class="list-group-item"> Gênero: {{d.genero}} </li>


            </ul>
            <!-- </ng-container> -->
            <!-- <ng-container *ngFor="let d of dependentes">
               Dependente: {{d.nome}} <br /> CPF: {{d.cpf}} <br /> RG: {{d.rg}} <br /> Orgão expedidor: {{d.org}}
                <br /> Gênero: {{d.gen}}
                <br />  <br />




            </ng-container> -->


            <br /><br />


            <!-- <div class="float-right">

                <img id="depgravar" src="/assets/images/Gravar.PNG" [ngClass]="{'disabledbutton':depsaveenable==1}" (click)="saveDep()">
                <img src="/assets/images/Editar.PNG" [ngClass]="{'disabledbutton':depeditenable==1}" (click)="editDep()">
                <div class="float-left">

                </div>

            </div> -->
            <!-- <button (click)="seeDeps()">Dependentes Test</button> -->
            <!--             EXIBIÇÃO DE LISTA DE DEPENDENTES  IN PROGRESS -->


            <!-- {{dependente|json}}

            <ng-container *ngFor="let dependente of dependente">
                {{depNome}} <br /> CPF: {{depCpf}} RG: {{depRg}} <br /> Orgão expedidor: {{depOrg}}
                <br /> Gênero: {{depGen}}




            </ng-container>
            <ul>
                <li *ngFor="let dependente of dependente">

                    <p> {{dependente}} </p>
                </li>
            </ul>  -->

        </form>
    </mat-tab>
</mat-tab-group>