<!-- <p>Cliente cadastrado com sucesso!</p> -->


<ng-container *ngIf="template == 1">
  <p style="font-size: large; text-align: center;"><b>{{data.text}}</b> </p>
  <div style="border: solid 1px">
    <div class="row borb">
      <div class="col-md-6 borr">
        Paciente: <b>{{data.paciente | uppercase}}</b>
      </div>
      <div class="col-md-6">
        CPF: <b>{{data.cpfp}}</b>
      </div>
    </div>
    <div class="row borb">
      <div class="col-md-6 borr">
        Financiador: <b>{{data.financiador | uppercase}}</b>
      </div>
      <div class="col-md-6">
        Possui fiador? <b>NÃO</b>
      </div>
    </div>
    <div class="row borb">
      <div class="col-md-6 borr">
        Doc Proposta Financeira: <b>{{data.docf}}</b>
      </div>
      <div class="col-md-6">
        Doc ODC: <b>{{data.doco}}</b>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 borr">
        Valor total: <b>{{data.valortotal | currency}}</b>
      </div>
      <div class="col-md-6">
        Parcelas: <b>{{data.parcela}}</b>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="template == 2">
  <p style="font-size: large; text-align: center;"><b>{{data.text}}</b> </p>
  <div style="border: solid 1px">
    <div class="row borb">
      <div class="col-md-6 borr">
        Paciente: <b>{{data.paciente | uppercase}}</b>
      </div>
      <div class="col-md-6">
        CPF: <b>{{data.cpfp}}</b>
      </div>
    </div>
    <div class="row borb">
      <div class="col-md-6 borr">
        Financiador: <b>{{data.financiador | uppercase}}</b>
      </div>
      <div class="col-md-6">
        Possui fiador? <b>SIM</b>
      </div>
    </div>
    <div class="row borb">
      <div class="col-md-6 borr">
        Fiador: <b>{{data.fiador | uppercase}}</b>
      </div>
      <div class="col-md-6">
        CPF Fiador: <b>{{data.cpff}}</b>
      </div>
    </div>
    <div class="row borb">
      <div class="col-md-6 borr">
        Doc Proposta Financeira: <b>{{data.docf}}</b>
      </div>
      <div class="col-md-6">
        Doc ODC: <b>{{data.doco}}</b>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 borr">
        Valor total: <b>{{data.valortotal | currency}}</b>
      </div>
      <div class="col-md-6">
        Parcelas: <b>{{data.parcela}}</b>
      </div>
    </div>
  </div>
</ng-container>

<div class="row" style="margin-top: 2%; justify-content: center;">
  <button class="btn btn-primary" (click)="submit(1)">Confirmar</button>
  <button class="btn btn-danger" (click)="submit(0)">Cancelar</button>
</div>