<!-- <div style="background-color: #0B2161;
height: 46px;
border-bottom: 1px white;">
    </div> -->
<!-- <a style="float: right;
    margin-right: 10px;
    margin-top: 12px;
    margin-bottom: 8px;
    color: black;
    font-size: 15px;
">
    USUÁRIO, {{ user.nome | uppercase}}
</a> -->
<header>
    <!-- <button (click)="testFunction();">TESTE</button> -->
    <!-- Navbar content -->
    <!-- <div class="menu navbar-expand-lg py-md-3" height=60px style="background-color: #0B2161;">

        <div *ngIf="role == 'admin' || role == 'gerente'">
            <a href="#/cadastrotype">
                CADASTRO
            </a>
        </div>
        <div *ngIf="role == 'vendedor'">
            <a href="#/cadastrocliente">
                CADASTRO
            </a>
        </div>
        <div>
            <a href="#/consulta">
                CONSULTA
            </a>
        </div>
        <div>
            <a href="#/financeiro">
                FINANCEIRO
            </a>
        </div>
        <div>
            <a href="#/relatorios">
                RELATÓRIOS
            </a>
        </div>
        <div>
            <a href="#/config">
                CONFIGURAÇÕES
            </a>
        </div>
        <div>
            <a href="#/login" (click)="logout()">
                SAIR
            </a>
        </div>

         <br />
        </div> -->
    <!-- <button (click)="getSessionItem()">Quem sou eu?</button>  -->

</header>
<!-- <div class="col-md-3" style="height: 100%; position: absolute;">

</div> -->
<!-- <div class="bg">
   

        <img class="container_img" src="assets/images/JF-GRUPO-DEGRADE2-SEM-FUNDO_RGB.jpg">
    
</div> -->
<div class="bg">
    <img class="container_img" src="assets/images/JFLOGO-SEMFUNDO.jpg">
</div>